
.container {
    position: absolute;
    width: 100%;
  }
  .tag {
    position: absolute;
    right: 0px;
    bottom: 12%;
    top: 12%;
    background:rgba(222, 222, 222, 0.75);
    color: #1B4B66;
    padding: 45px;
    padding-top: 20px;
    z-index: 1000;
    border-radius: 15px 0px 0px 15px;
    width: 50%;
  }
  
  .tag h3{
    font-weight: 500;
    font-size: 2rem;
    max-width: 80%;
  }
  .tag h2 {
    font-weight: 850;
    font-size: 3.4em;
    line-height: 0.5rem;
    
  }
  img {
    border-radius: 10px;
    object-fit: cover;
    max-height: 400px;
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  
  
  .tag1 {
    position: absolute;
    left: 18px;
    bottom: 12%;
    top: 2%;
    color: #B00020;
    padding: 45px;
    padding-top: 20px;
    z-index: 1000;
    width: 40%;
  }
  
  .tag1 h3{
    font-weight: 400;
    font-size: 2.5rem;
    
  }
  .tag1 h3 span {
    background-color:rgba(255, 221, 157, 1);
    padding: 8px;
    border-radius: 15px;
  }
  .tag1 h2 {
    font-weight: 850;
    font-size: 3.4rem;
    width: 80%;
  }